* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: brown;
    position: relative;
    margin: auto;
    height: 430px;
    width: 720px;
}

.video {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.controls {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: .4s;
    opacity: 0;
}

.controls:hover {
    opacity: 1;
}

.btn {
    position: relative;
    margin: 0 10px;
    width: 60px;
    cursor: pointer;
    transform: translateY(-124%);
    top: 100%;
}